<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome, Please Add a client</h2>
    <form action="/client" method="post">
        <input type="text" name="name" id="name" placeholder="Client Name">
        <br>
        <br>
        <input type="text" name="address" id="address" placeholder="address">
        <br>
        <br>
        <input type="text" name="phone" id="phone" placeholder="phone">
        <br>
        <br>
        <input type="submit" value="Add Client">
    </form>
</body>
</html>