<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello from register User</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/registerUser/users">Users</a>
        <a href="/registerUser">Register User</a>
        <a href="/login">Login</a>
    </nav>
    <form action="/registerUser" method="POST">
        <input type="email" name="email" id="email" placeholder="Your email">
        <br>
        <br>
        <input type="password" name="password" id="password" placeholder="write password">
        <br><br>
        <input type="submit" value="Register User">
    </form>
</body>
</html>