<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h2>Welcome to login Page</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/registerUser/users">Users</a>
        <a href="/registerUser">Register User</a>
        <a href="/login">Login</a>
    </nav>
    <form action="/login" method="POST">
        <input type="email" name="email" id="email" placeholder="Your email">
        <br>
        <br>
        <input type="password" name="password" id="password" placeholder="write password">
        <br><br>
        <input type="submit" value="Login">
    </form>
</body>

</html>